[submodule "lib/CRC32"]
	path = lib/CRC32
	url = https://github.com/bakercp/CRC32.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/BurpRedux"]
	path = lib/BurpRedux
	url = https://github.com/pghalliday/BurpRedux.git
[submodule "lib/BurpUnity"]
	path = lib/BurpUnity
	url = https://github.com/pghalliday/BurpUnity.git
