[submodule "lib/CRC32"]
	path = lib/CRC32
	url = https://github.com/bakercp/CRC32.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/ArduinoFake"]
	path = lib/ArduinoFake
	url = https://github.com/FabioBatSilva/ArduinoFake.git
[submodule "lib/BddUnity"]
	path = lib/BddUnity
	url = https://github.com/pghalliday/BddUnity.git
[submodule "lib/CppRedux"]
	path = lib/CppRedux
	url = https://github.com/pghalliday/CppRedux.git
