[submodule "lib/CRC32"]
	path = lib/CRC32
	url = https://github.com/bakercp/CRC32.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/BurpUnity"]
	path = lib/BurpUnity
	url = https://github.com/BurpTech/BurpUnity.git
[submodule "lib/BurpTree"]
	path = lib/BurpTree
	url = https://github.com/BurpTech/BurpTree.git
[submodule "lib/BurpLogger"]
	path = lib/BurpLogger
	url = https://github.com/BurpTech/BurpLogger.git
[submodule "lib/BurpStatus"]
	path = lib/BurpStatus
	url = https://github.com/BurpTech/BurpStatus.git
[submodule "lib/BurpSerialization"]
	path = lib/BurpSerialization
	url = https://github.com/BurpTech/BurpSerialization.git
